<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Free Css Template 168</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
<div class="allContent">

   
   
    <div class="mainMenu">
    	<ul>
        	
            <li><a <%= link_to "Hussien Kamal", :controller => :pages, :action => :hussien  %></a></li><br>
            <li><a <%= link_to "Ahmed Nageeb", :controller => :pages, :action => :nageeb  %></a></li><br>
            <li><a <%= link_to "Omar Hesham", :controller => :pages, :action => :omar  %></a></li><br>
            <li><a <%= link_to "Monica Gamal", :controller => :pages, :action => :monica  %></a></li><br>
            <li><a <%= link_to "Bergitte Saeed", :controller => :pages, :action => :bergitte  %></a></li><br>
            <li><a <%= link_to "Jirayr Vahe", :controller => :pages, :action => :jirayr  %></a></li><br>
            <li><a <%= link_to "PROFILES", :controller => :pages, :action => :mariam  %></a></li><br>
        </ul>
    </div>
      
    </div>
</div>
</div>

</body>
</html>